@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Yeseva+One&display=swap);

* {
    font-family: "Yeseva One", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/not0.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Window {
    width: 100vw;
    height: 100vh;
    
    backdrop-filter: blur(5px);
    position: absolute;
}
.letter {
    position: relative;
    display: flex;    
    justify-content: space-around;

    flex-direction: column;
    text-align: center;

    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 3px;
    margin: 20px;

    backdrop-filter: blur(35px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 20px 25px 45px rgba(0, 0, 0, 0.4);

    color: aliceblue;
}