@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fjalla+One&family=Indie+Flower&family=Kanit:wght@600&family=Passion+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cream: #f5e1ee;
    --cream2: #e2be8b;
    --blue: #11114e;
}

body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        45deg, 
        var(--cream2), 
        var(--cream)
    );
    color: var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    border-radius: 10px;
    width: 350px;
    height: 600px;
    background-color: #fff;
    overflow: hidden;
}

header{
    display: block;
    background: var(--blue);
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 170px;
}
header > h1 {
    font-size: 3em;
}
header > p {
    padding: 10px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--blue);
}

div#body{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    height: 430px;
    width: 350px;
}

div.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: var(--blue);
}

/* div#work{
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: var(--blue);
    color: #fff;
    transition: 0.5s;
}
div#work:hover{
    background: var(--cream2);
    color: var(--blue);
}
div#work h2{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
}
div#work a {
    text-decoration: none;
    color: #fff;
} */