@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fjalla+One&family=Indie+Flower&family=Kanit:wght@600&family=Passion+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(00, 0, 0, 0.1);
    transition: 0.5s;
}
header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(IMAGES/menu.png) center no-repeat;
    background-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .toggle:before {
    content: 'Menu';
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background-color: #fff;
    color: #111;

}

header .toggle.active{
    background: url(IMAGES/close.png) center no-repeat;
    background-size: 25px;
}
header .toggle.active:before{
    content: 'Close';
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}