/* @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@700&family=Fjalla+One&family=Indie+Flower&family=Kanit:wght@600&family=Open+Sans:wght@300;400;500&family=Passion+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
} */

body{
  background: #030911;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background: #11114e;   
  padding: 1em 2em;
  margin: .5em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 1s ease;
}
button:hover {
  box-shadow: 3px 1px 20px 3px #8a2be2;
  transition: 1s ease;
  transform: scale(1.1);
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  background-color: #8a2be2;
  border-radius: 50%;
  transition: .6s ease;
  transform: translate(-50%, -50%);
}
button span:nth-child(6) {
    position: relative;
}
button span:nth-child(1) {
  transform: translate(-3.3em, -5em);
}
button span:nth-child(2) {
  transform: translate(-6em, 2.3em);
}
button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}
button span:nth-child(4) {
  transform: translate(3.5em, 2.4em);
}
button span:nth-child(5) {
  transform: translate(3.5em, -4.8em);
}

button:hover span:not(:nth-child(6)){
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}